
@model LaptopDTO
@{
    ViewData["Title"] = "Laptop store";
}

<div class="my-2">
<form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
  <div class="col-12">
    <label class="visually-hidden" for="BrandId">Brand</label>
    <select class="form-select" id="BrandId" name="BrandId">
      <option selected>Brand Name</option>
      @foreach(var brand in Model.Brands)
      {
          <option selected="@(brand.Id == Model.BrandId)" value="@brand.Id">@brand.BrandName</option>
      }       
    </select>
  </div>

   <div class="col-12">
    <label class="visually-hidden" for="searchText">Search by Model Name</label>
    <div class="input-group">
      <div class="input-group-text"></div>
      <input type="text" class="form-control" value ="@Model.SearchText" id="searchText" name = "searchText" placeholder="Search by Model Name">
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="/Home/Index" class="btn btn-dark">Reset</a>
  </div>
</form>
</div>

<div class="w-100 d-flex flex-wrap mt-4">
    @foreach (var laptop in Model.Laptops)
    {
      <div class="card mx-auto mb-4" style="width: 16rem;">
        @if (string.IsNullOrEmpty(laptop.Image))
        {
          <img style="width:100%;height:300px" src="/img/noimage.webp" class="card-img-top" alt="...">
        } else
        {
          <img style="width:100%;height:300px"  src="/img/@laptop.Image" class="card-img-top" alt="...">
        
        }
      
        <div class="card-body">
          <h5 class="card-title">@laptop.ModelName</h5>
          <p class="card-text">
            <div>
              Brand:@laptop.BrandName
            </div>
            <div>
              Processor:@laptop.Processor
            </div>
            <div>
              Price:@laptop.Price
            </div>
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    }
</div>